# Deny everything except the source and project files needed to build.
**
!UploadRecords.csproj
!Program.cs
!Configs/
!Configs/*.cs
!Enums/
!Enums/*.cs
!Models/
!Models/*.cs
!Models/API/
!Models/API/*.cs
!Models/Db/
!Models/Db/*.cs
!Services/
!Services/*.cs
!Utils/
!Utils/*.cs
